<ion-content>
  
  <app-header></app-header>

  <div class="content ion-text-center">

    <ion-grid>

      <ion-row>

        <ion-col *ngFor="let cuestionario of cuestionarios" size="12">

          <ion-card mode="ios">

            <div class="title">
              {{ cuestionario }}
            </div>

            <ion-button (click)="onClick(cuestionario)" class="ion-margin-vertical" shape="round">
              Acceder al cuestionario
              <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
            </ion-button>

          </ion-card>

        </ion-col>

      </ion-row>

    </ion-grid>

  </div>  
</ion-content>