<ion-content>
  <app-header></app-header>

  <h1 class="ion-text-center ion-margin-vertical">Formulario</h1>

  <div class="content ion-text-center">

    <h3>Pregunta 1: {{ preguntas[0].pregunta }}</h3>
    <h4>{{ respuestas.get("pregunta0") }}</h4>

    <h3>Pregunta 2: {{ preguntas[1].pregunta }}</h3>
    <h4>{{ respuestas.get("pregunta1") }}</h4>

    <h3>Pregunta 3: {{ preguntas[2].pregunta }}</h3>
    <h4>{{ respuestas.get("pregunta2") }}</h4>

    <h3>Pregunta 4: {{ preguntas[3].pregunta }}</h3>
    <h4>{{ respuestas.get("pregunta3") }}</h4>

    <h3>Pregunta 5: {{ preguntas[4].pregunta }}</h3>
    <h4>{{ respuestas.get("pregunta4") }}</h4>

    <h3>Pregunta 6: {{ preguntas[5].pregunta }}</h3>
    <h4>{{ respuestas.get("pregunta5") }}</h4>

    <h3>Pregunta 7: {{ preguntas[6].pregunta }}</h3>
    <h4>{{ respuestas.get("pregunta6") }}</h4>

  </div>  
</ion-content>