<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="perfil">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Mis datos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Precios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recomendaciones">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Recomendaciones</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>