<ion-content color="light">

  <app-header-modal></app-header-modal>

  <div class="content ion-text-center">

    <ion-card *ngIf="!hayCoche" mode="ios">

      <div class="title">
        Planificación de electrodomésticos
      </div>

      <div *ngIf="!maxHour">

        <div *ngIf="appliance(lavavajillas)" class="cont">
          La mejor hora para usar tu programa de lavavajillas es las {{ lavavajillas }} horas.
        </div>

        <div *ngIf="appliance(lavadora)" class="cont">
          El mejor momento para poner la lavadora es las {{ lavadora }} horas.
        </div>

        <div *ngIf="appliance(secadora)" class="cont">
          Si pones la secadora a las {{ secadora }} horas, ahorrarás dinero.
        </div>

        <div *ngIf="appliance(plancha)" class="cont">
          Puedes usar la plancha a las {{ plancha }} horas.
        </div>

      </div>

      <div *ngIf="maxHour">

        <div class="cont">
          El total de horas seleccionadas excede el número de horas restantes del día.
        </div>

      </div>

    </ion-card>

    <ion-card *ngIf="hayCoche" mode="ios">

      <div class="title">
        Planificación de coche eléctrico
      </div>

      <div class="cont">
        Puedes cargar tu coche eléctrico a las {{ coche }} horas.
      </div>

    </ion-card>

    <div class="content ion-text-center">

      <ion-grid *ngIf="!hayCoche">
  
        <ion-row>
  
          <ion-col size="6">
  
            <app-bar-chart1 [priceTime]="priceTime3" [text]="'3 horas más baratas'"></app-bar-chart1>
  
          </ion-col>

          <ion-col size="6">
  
            <app-bar-chart1 [priceTime]="priceTime2" [text]="'2 horas más baratas'"></app-bar-chart1>
  
          </ion-col>
  
        </ion-row>  
  
      </ion-grid>

      <ion-grid *ngIf="hayCoche">
  
        <ion-row>

          <ion-col size="12">
  
            <app-bar-chart1 [priceTime]="priceTime3" [text]="'Tramo de carga de coche eléctrico'"></app-bar-chart1>
  
          </ion-col>
  
        </ion-row>  
  
      </ion-grid>

    </div>

  </div>

</ion-content>