<ion-content>
  
  <app-header></app-header>

  <div class="content ion-text-center">

    <ion-grid>

      <ion-row>

        <ion-col size="12">

          <ion-card mode="ios">

            <div class="title">
              Recomendaciones Generales
            </div>

            <div class="cont">
              1. Sustituye las bombillas tradicionales por luces LED siempre que sea posible.
            </div>

            <div class="cont">
              2. Si compras electrodomésticos nuevos, procura que tengan etiqueta eléctrica A.
            </div>

            <div class="cont">
              3. Evita el consumo silencioso desenchufando los dispositivos electrónicos que no esté usando.
            </div>

            <div class="cont">
              4. Mantén la temperatura adecuada en tu hogar, entre 19 y 21 grados en invierno, y entre 24 y 26 grados en verano.
            </div>

          </ion-card>

        </ion-col>

        <ion-col size="12">

          <ion-card mode="ios">

            <div class="title">
              Recomendaciones Específicas
            </div>

            <div *ngFor="let recomendacion of recomendaciones" class="cont">
              {{ recomendacion }}
            </div>
            
          </ion-card>

        </ion-col>

      </ion-row>

    </ion-grid>

  </div>  
</ion-content>