<ion-content>
  <app-header></app-header>

  <h1 class="ion-text-center ion-margin-vertical">Inicio</h1>

  <div class="content ion-text-center">

    <ion-grid>

      <ion-row>

        <ion-col size="6">

          <div class="circle-container success">
            <p class="small-text">Más barato:</p>
            <p class="large-text">{{ priceTime[minIndex].value }}€/kWh</p>
            <p class="small-text">A las {{ priceTime[minIndex].time }}h</p>
          </div>

        </ion-col>

        <ion-col size="6">

          <div class="circle-container danger">
            <p class="small-text">Más caro:</p>
            <p class="large-text">{{ priceTime[maxIndex].value }}€/kWh</p>
            <p class="small-text">A las {{ priceTime[maxIndex].time }}h</p>
          </div>

        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col size="12">

          <app-bar-chart [priceTime]="priceTime" [mean]="mean" [max]="max" [min]="min"></app-bar-chart>

        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col size="12">

          <div class="rectangle-container secondary">
            <p class="small-text">Ahora ({{ priceTime[nowIndex].time }}h):</p>
            <p class="large-text">{{ priceTime[nowIndex].value }}€/kWh</p>
          </div>

        </ion-col>

      </ion-row>

      <ion-row>

      <ion-col size="12">

        <div class="rectangle-container warning">
          <p class="small-text">Media diaria:</p>
          <p class="large-text">{{ mean }}€/kWh</p>
        </div>

      </ion-col>

      </ion-row>


    </ion-grid>

  </div>

</ion-content>