<ion-content>
  <app-header></app-header>

  <h1 class="ion-text-center ion-margin-vertical">Inicio</h1>

  <div class="content ion-text-center">

    <ion-grid>

      <ion-row>

        <ion-col *ngFor="let x of priceTime" size-lg="6" size-md="6" size-sm="12" size="12">

          <ion-card mode="ios">

            <div class="title">
              {{ x.time }}
            </div>

            <div>
              {{ x.value }}
            </div>

          </ion-card>

        </ion-col>

      </ion-row>

    </ion-grid>

  </div>  
</ion-content>