<ion-content>
  
  <app-header [inv]="true"></app-header>

  <div class="content ion-text-center">

    <ion-grid>

      <ion-row>

        <ion-col size="6">

          <div class="circle-container success">
            <p class="small-text">Más barato:</p>
            <p class="large-text">{{ horaMin.value }}€/kWh</p>
            <p class="small-text">A las {{ horaMin.time }}h</p>
          </div>

        </ion-col>

        <ion-col size="6">

          <div class="circle-container danger">
            <p class="small-text">Más caro:</p>
            <p class="large-text">{{ horaMax.value }}€/kWh</p>
            <p class="small-text">A las {{ horaMax.time }}h</p>
          </div>

        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col size="12">

          <app-bar-chart [priceTime]="priceTime" [mean]="mean"></app-bar-chart>

        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col size="12">

          <div class="rectangle-container secondary">
            <p class="small-text">Ahora ({{ priceTime[nowIndex].time }}h):</p>
            <p class="large-text">{{ priceTime[nowIndex].value }}€/kWh</p>
          </div>

        </ion-col>

      </ion-row>

      <ion-row>

      <ion-col size="12">

        <div class="rectangle-container warning">
          <p class="small-text">Media diaria:</p>
          <p class="large-text">{{ mean }}€/kWh</p>
        </div>

      </ion-col>

      </ion-row>


    </ion-grid>

  </div>

</ion-content>